In [1]:
import os

In [2]:
csv_dir = "../data/tabular"

In [6]:
import pandas as pd
from tqdm import tqdm

In [17]:
dados = pd.DataFrame(columns = ['ponto', 'local', 'categoria', 'campanha', 'boletim', 'data', 'nome_ponto', 'cod_regiao', 'cod_ponto', 'cod_monitor'])

In [27]:
for file in tqdm(os.listdir(csv_dir)):
    df_name = f"{csv_dir}/{file}"
    df = pd.read_csv(df_name)
    dados = dados.append(df, ignore_index = True)

100%|██████████| 2196/2196 [00:49<00:00, 43.97it/s]

In [28]:
dados.shape

(48294, 10)

print(list(df.columns))

In [29]:
dados.head()

,ponto,local,categoria,campanha,boletim,data,nome_ponto,cod_regiao,cod_ponto,cod_monitor
0,Madre de Deus - BTS MD 100,Em frente à Igreja.,Imprópria,21661,03/2016,2016-01-22,Madre de Deus,BTS,MD,100
1,Madre de Deus - BTS MD 200,Em frente à Câmara Municipal de Madre de Deus.,Própria,21661,03/2016,2016-01-22,Madre de Deus,BTS,MD,200
2,Madre de Deus - BTS MD 300,Sob a ponte em Madre de Deus.,Imprópria,21661,03/2016,2016-01-22,Madre de Deus,BTS,MD,300
3,Bom Jesus dos Pobres - BTS JP 100,Em frente à barraca de praia Joia Rara.,Imprópria,21661,03/2016,2016-01-22,Bom Jesus dos Pobres,BTS,JP,100
4,Cabuçu - BTS CB 100,Em frente às barracas da Rua do Porto.,Imprópria,21661,03/2016,2016-01-22,Cabuçu,BTS,CB,100

In [44]:
dados[dados["cod_regiao"] == "SSA"]["nome_ponto"]

192      São Tomé de Paripe
193                Periperi
194                   Penha
195                  Bogari
196            Pedra Furada
                ...
48289       Lagoa de Abaete
48290       Farol de Itapuã
48291          Stella Mares
48292              Flamengo
48293              Flamengo
Name: nome_ponto, Length: 20339, dtype: object

In [34]:
set(dados["cod_regiao"])

{'BTS', 'CBL', 'CCA', 'CCQ', 'CDC', 'CDD', 'SSA'}

In [47]:
flamengo = dados[(dados["cod_regiao"] == "SSA") & (dados["nome_ponto"] == "Penha") & (dados["cod_monitor"]==100)]

In [48]:
flamengo.groupby("categoria").count()

,ponto,local,campanha,boletim,data,nome_ponto,cod_regiao,cod_ponto,cod_monitor
categoria,,,,,,,,,
Imprópria,417,417,417,417,417,417,417,417,417
Indisponível,108,108,108,108,108,108,108,108,108
Própria,70,70,70,70,70,70,70,70,70